h1 {
    width: 300px;
    margin-left: 0px;
    text-align: 0;
    background-color:#d2691E;
    border: 0px solid;
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;
}

p{
    width: 500px;
    margin:25 ;
    text-align: auto;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

 #scorebox{
    width: 15px;
    text-align: center;
    background-color: #00e5ff;
    border: 8px solid;
    border-top-color: #00d8ff;
    border-right-color: #00d8ff;
    border-bottom-color: #00a9ff;
    border-left-color: #00a9ff;
    margin: 40px;
    font-size: 20;
}

}

.crystal1 {
    float: right
    border-top-color: #9900fa;
    border-right-color: #9900fa;
    border-bottom-color: #820099;
    border-left-color: #820099;
    background-color: #8c00c3;
}

.crystal2 {
    border-top-color: #66dc00;
    border-right-color: #66dc00;
    border-bottom-color: #006600;
    border-left-color: #006600;
    background-color: #239900;
}

.crystal3 {
    border-top-color: #ff0000;
    border-right-color: #ff0000;
    border-bottom-color: firebrick;
    border-left-color: firebrick;
    background-color: #cc0000;
}

#crystal4 {
    float: right
    width: 200px;
    height:100px;
    border-top-color: #faff00;
    border-right-color: #faff00;
    border-bottom-color: #ebcc00;
    border-left-color: #ebcc00;
    background-color: #facc00;
}

#total-score {
    float: float-right;
    position: relative;
    border: 0px solid;
    font-size: 0;
 
}

footer {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: lightpink;

